<!DOCTYPE html>
<link rel="stylesheet" href="{{ asset('styles/generator/generator.css') }}">
{% block body %}
    <div class="container">
        <h1 id="header">Barcode Erstellen</h1>
            {{ form_start(form) }}
                <label class="product_name_label">Produkt Name:</label>
                <p class="product_name">{{ product_name }}</p>
            {{ form_end(form) }}
        <div class="divider"></div>
        <div class="barcode-preview">
            <div class="barcode-box">
                {% if product_name %}
                    <img class="img-loader" src="{{ asset('../../assets/barcodes/' ~ barcode_url) }} }}" alt="Generierter Barcode">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}